openapi: 3.0.0
info:
  title: Demo REST and SOAP API
  description: Demonstrates REST API with SOAP integration for temperature conversion.
  version: 1.0.0
servers:
  - url: https://www.w3schools.com/xml/tempconvert.asmx
    description: REST operations server
paths:
  /celsiusToFahrenheit:
    post:
      summary: Convert Celsius to Fahrenheit (SOAP)
      description: Calls a SOAP endpoint to convert a temperature from Celsius to Fahrenheit.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CelsiusToFahrenheitRequest'
      responses:
        '200':
          description: Response with the temperature converted to Fahrenheit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CelsiusToFahrenheitResponse'
        '500':
          description: Internal server error
  /fahrenheitToCelsius:
    post:
      summary: Convert Fahrenheit to Celsius (SOAP)
      description: Calls a SOAP endpoint to convert a temperature from Fahrenheit to Celsius.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FahrenheitToCelsiusRequest'
      responses:
        '200':
          description: Response with the temperature converted to Celsius
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FahrenheitToCelsiusResponse'
        '500':
          description: Internal server error
components:
  schemas:
    CelsiusToFahrenheitRequest:
      type: object
      properties:
        celsius:
          type: number
          description: The temperature in Celsius to convert
    CelsiusToFahrenheitResponse:
      type: object
      properties:
        fahrenheit:
          type: string
          description: The temperature converted to Fahrenheit
    FahrenheitToCelsiusRequest:
      type: object
      properties:
        fahrenheit:
          type: number
          description: The temperature in Fahrenheit to convert
    FahrenheitToCelsiusResponse:
      type: object
      properties:
        celsius:
          type: string
          description: The temperature converted to Celsius
